---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialItem from "../components/SocialItem.astro";
import SectionBox from "../components/SectionBox.astro";
import ProjectItem from "../components/ProjectItem.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import CodeIcon from "../icons/Code.astro";
import HtmlIcon from "../icons/Html.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import TypeScriptIcon from "../icons/TypeScript.astro";
import UserIcon from "../icons/User.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
	title="Portafolio de Andrés Quintana - Desarrollador y Programador FrontEnd"
	description="Portafolio Web de Andrés Quintana. Desarrollador y Programador FrontEnd"
>
	<main>
		<SectionBox id="inicio" class="py-32">
			<div class="flex flex-row gap-x-5">
				<img
					class="rounded-full size-24 mb-4"
					src="https://static-cdn.jtvnw.net/jtv_user_pictures/b0be7af0-99a0-4e39-b248-d3f596946437-profile_image-300x300.png"
					alt="Profile Photo"
				/>
				<a
					href="https://www.linkedin.com/in/andr%C3%A9s-quintana-b205592b4/"
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</div>
			<h1 class="text-white text-5xl font-bold flex-row flex gap-x-4 pb-10">
				Hola, soy Andrés Quintana
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				Estudiante de
				<span class="text-yellow-200"
					>Ingeniería de Sistemas y Desarrollador Web</span
				>
				enfocado en el desarrollo FrontEnd.
				<span class="text-red-400">De Cartagena, Colombia</span>.
				<span class="opacity-75"
					>Programador Junior perfeccionando tecnologías ya conocidas y
					adquiriendo nuevas.</span
				>
			</h2>
			<nav class="flex gap-x-3 mt-5">
				<SocialItem
					href="https://www.linkedin.com/in/andr%C3%A9s-quintana-b205592b4/"
				>
					<LinkedInIcon class="size-7" />
				</SocialItem>
				<SocialItem href="https://github.com/AndrxsQ">
					<GitHubIcon class="size-7" />
				</SocialItem>
				<SocialItem href="mailto:andresquintana2004@gmail.com">
					<MailIcon class="size-7" />
				</SocialItem>
			</nav>
		</SectionBox>
		<SectionBox id="proyectos">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-1 items-center">
				<CodeIcon class="size-10" />
				Proyectos
			</h2>
			<ProjectItem
				title="Portafolio"
				description="Este es mi portafolio personal el cuál creo como mi primer proyecto para iniciarme en el desarrollo web, especialmente como desarrollador frontend."
				github="https://github.com/AndrxsQ/Portafolio"
				image="/projects/Portafolio.webp"
			>
				<HtmlIcon class="size-14" />
				<TailwindIcon class="size-14" />
				<TypeScriptIcon class="size-14" />
			</ProjectItem>
		</SectionBox>
		<SectionBox class="py-16" id="sobre_mi">
			<h2 class="text-4xl font-semibold mb-6 flex gap-x-1 items-center">
				<UserIcon class="size-10" />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionBox>
	</main>
</Layout>
