---
const personalImageAlt = "Andrés Quintana";
---

<article class="flex flex-row gap-6">
  <div class="text-lg [&>p]:mb-4 [&>p]:text-pretty">
    <p>
      Soy Andrés Quintana pero mis amigos me llaman Anki. Comencé en el mundo de
      la programación cuando tenía 14 años, de forma autodidacta. Actualmente me
      encuentro estudiando Ingeniería de Sistemas en la Universidad de
      Cartagena.
    </p>
    <p>
      A pesar de que mis estudios me han dado una buena base en cuanto a la
      lógica de programación, por mis propios méritos me he formado como
      Desarrollador Web y he adquirido toda la experiencia que tengo realizando
      los proyectos expuestos en este portafolio web.
    </p>
    <p>
      También, he enfocado los proyectos propuestos por mi institución educativa
      hacia el desarrollo web, para así poner a prueba todos mis conocimientos
      adquiridos y adquirir algo de experiencia en cuanto al desarrollo de
      proyectos reales.
    </p>
  </div>
  <img
    class="size-72"
    src="https://static-cdn.jtvnw.net/jtv_user_pictures/b0be7af0-99a0-4e39-b248-d3f596946437-profile_image-300x300.png"
    alt={personalImageAlt}
  />
</article>
