---
import HomeIcon from "../icons/Home.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import MailIcon from "../icons/Mail.astro";

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
    icon: HomeIcon,
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
    icon: CodeIcon,
  },
  {
    title: "Sobre mí",
    label: "sobre_mi",
    url: "/#sobre_mi",
    icon: UserIcon,
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:andresquintana2004@gmail.com",
    icon: MailIcon,
  },
];
---

<header class="flex justify-center items-center py-8 w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10">
    {
      navItems.map((item) => (
        <a
          class="relative block px-2 py-2 transition hover:text-red-700"
          aria-label={item.label}
          href={item.url}
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
