---
const { href } = Astro.props;
---

<a
  class="flex flex-row gap-x-2 w-fit text-white items-center py-2.5 px-5 me-2 mb-2 text-base font-medium focus:outline-none bg-black rounded-lg border border-gray-700 hover:scale-105 focus:z-10 focus:ring-4 focus:ring-gray-100"
  href={href}
  target="_blank"
  role="link"
>
  <slot />
</a>
