---
const PROJECTS = [
  {
    title: "Portafolio",
    description:
      "Este es mi portafolio personal el cuál creo como mi primer proyecto para iniciarme en el desarrollo web, especialmente como desarrollador frontend.",
    link: "#",
    github: "https://github.com/AndrxsQ/Portafolio",
    image: "/projects/Portafolio.webp",
    tags: [""],
  },
];

const { title, description, link, github, image } = Astro.props;
---

<article>
  <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
  <p class="text-lg mb-4 text-pretty">{description}</p>
  <img
    class="rounded shadow-2xl shadow-white/10"
    src={image}
    alt={`Captura de pantalla del proyecto ${image}`}
  />
  <nav class="flex flex-row gap-x-5 py-5">
    <slot class="size-14" />
  </nav>
</article>
